---
import Component from "../../layouts/Component.astro"
import DocLink from "../../components/DocLink.astro"
import Example from "../../components/Example"

import AutoExample from "../../components/AutoExample.astro"
import BadgeVisibility from "../../component-examples/badge/Visibility.astro"
import BadgeVisibilityHTML from "../../component-examples/badge/Visibility.html?raw"
import BadgeVisibilityAstro from "../../component-examples/badge/VisibilityCode.astro?raw"

import BadgeAnatomy from "../../component-examples/badge/Anatomy.astro"

import { Switch as UISwitch } from "@opui/astro"
import Conditional from "../../components/Conditional.astro"

import BadgeCSS from "@opui/css/components/badge.css?raw"
import AnchorCSS from "@opui/css/components/anchor.css?raw"

---

<style is:global>
  .anatomy {
    outline: var(--_anatomy-border-gray);
    outline-offset: -2px;

    & > .ui-anchor-floating > .ui-badge-indicator {
      outline: var(--_anatomy-border-red);
      outline-offset: -3px;
    }
  }
</style>

<Component
  slug="badge"
  browserSupport={["anchor-positioning"]}
  changelogPaths={[
    {
      path: "packages/opui/components/Badge/Badge.astro",
      type: "component",
    },
    { path: "src/docs/components/badge.astro", type: "docs" },
    { path: "src/component-examples/badge", type: "docs" },
    {
      path: "packages/opui/css/components/badge.css",
      type: "css",
    },
    { path: "src/component-api/badge", type: "api" },
  ]}
  installationTabs={[
    { title: "badge.css", code: BadgeCSS, lang: "css" },
    { title: "anchor.css", code: AnchorCSS, lang: "css", isDependency: true },
  ]}
>
  <Fragment slot="title">Badge</Fragment>
  <Fragment slot="preamble">
    <p>
      A badge is a small status indicator that can be placed on other elements.
    </p>
    <Conditional>
      <Fragment slot="html">
        Badge extends <DocLink href="/components/anchor">Anchor</DocLink>. Add <code
>.ui-anchor</code> and <code>.ui-badge</code> classes to the container, wrap the indicator in
        <code>.ui-anchor-floating</code>.
      </Fragment>
      <Fragment slot="astro">
        Use the <code>label</code> property to add content inside the Badge.
      </Fragment>
    </Conditional>
  </Fragment>

  <section>
    <h2 id="variants">Variants</h2>
    <Conditional as="p">
      <Fragment slot="astro">
        Default, and <code>dot</code>.
      </Fragment>
      <Fragment slot="html">
        Default, and <code>.ui-dot</code>.
      </Fragment>
    </Conditional>

    <AutoExample name="Variants" row />
  </section>

  <section>
    <h2 id="severities">Severities</h2>
    <Conditional>
      <p slot="html">
        <code>.ui-critical</code>, <code>.ui-info</code>, <code>.ui-neutral</code>,
        <code>.ui-success</code>, <code>.ui-warning</code>.
      </p>
      <p slot="astro">
        <code>critical</code>, <code>info</code>, <code>neutral</code>, <code
          >success</code
        >, <code>warning</code>.
      </p>
    </Conditional>

    <AutoExample name="Color" row />
  </section>

  <section>
    <h2 id="visibility">Visibility</h2>
    <Conditional as="p">
      <Fragment slot="astro">
        Change the badge's visibility using the <code>invisible</code>
        prop.
      </Fragment>
      <Fragment slot="html">
        Change the badge's visibility using the <code>.ui-invisible</code>
        class.
      </Fragment>
    </Conditional>

    <Example row>
      <Conditional slot="controls">
        <UISwitch slot="html" id="badge-visibility-toggle"
          ><code>.ui-invisible</code></UISwitch
        >
        <UISwitch slot="astro" id="badge-visibility-toggle"
          ><code>invisible</code></UISwitch
        >
      </Conditional>
      <Example.Preview slot="preview-astro" code={BadgeVisibility} />
      <Example.Preview slot="preview-html" code={BadgeVisibilityHTML} />
      <Example.Code slot="code-html" code={BadgeVisibilityHTML} />
      <Example.Code slot="code-astro" code={BadgeVisibilityAstro} />
    </Example>
  </section>

  <section>
    <h2 id="alignment">Alignment</h2>
    <p>Where the badge should be placed over the child.</p>
    <Conditional>
      <p slot="html">
        <code>.ui-start-start</code>, default, <code>.ui-end-start</code>, <code
>.ui-end-end</code>.
      </p>
      <p slot="astro">
        <code>start-start</code>, default,
        <code>end-start</code>, <code>end-end</code>.
      </p>
    </Conditional>

    <AutoExample name="Alignment" row spacious />
  </section>

  <Fragment slot="anatomy">
    <p>The badge component is composed of two main elements:</p>
    <ol>
      <li>Element to wrap</li>
      <li>Badge</li>
    </ol>

    <Example row>
      <Example.Preview code={BadgeAnatomy} />
    </Example>
  </Fragment>
</Component>
